@import "nullstyle.scss";
@import "fonts.scss";

$b1: #FFFFFF;
$b2: #F6F6F6;
$c:  #070707;

body {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
}

.main-div {
	max-width: 70vw;
	margin: 0px auto;
	.vector {
		width: 100%;
	}
}

#nav__menu {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	.active {
		color: $c;
	}
	a {
		color: #828282;
	}
	a:active {
		color: $c
	}
	a:hover {
		color: $c;
	}
}

.second__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 50px;
	.logo {
		font-size: 47.3392px;
		font-family: 'Gilroy-Bold';
		line-height: 59px;
		color:	$c;
	}
	p {
		font-family: 'Gilroy-Regular';
	}
}

.header__img {
	margin-bottom: 100px;
	width: 100%;
}

#about-me{
	padding-top: 120px;
	background-color: $b2;
}

.central-heading {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: $c;
}

.central-text {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	width: 485.34px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 107px;
}

#third-section {
	h1 {
		margin-top: 90px;
		margin-bottom: 70px;
	}
	p {
		text-align: center;
		margin-bottom: 83px;
	}
}

.flex {
	display: flex;
	justify-content: space-around;
}

